<div class="row">
  <div class="col-sm-12">
    <div class="input-group">
      <input class="form-control" #searchBox type="text" placeholder="Search.."
        (keyup)="search(searchBox.value)">
      <div class="input-group-btn">
          <span class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients"
            [class.active]="selectedIngredient == ingredient">
          <td *ngFor="let col of columns" (click)="select(ingredient)">{{ ingredient[col.field] }}</td>
          <td>
            <span (click)="deleteRequest(ingredient)" class="glyphicon glyphicon-remove"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pager">
      <li class="previous"><a href="#">Previous</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </div>
</div>
