<div class="container">
  <div class="jumbotron">
  <h1>Track-o-Meal</h1>
  <p>
    Track your meals
  </p>

  <div class="btn-group">
    <a routerLink="/dashboard" class="btn btn-info" role="button">Dashboard</a>
    <a routerLink="/meals" class="btn btn-info" role="button">Meals</a>
    <a routerLink="/ingredients" class="btn btn-info" role="button">Ingredients</a>
    <a routerLink="/example" class="btn btn-secondary" role="button">ng-bootstrap example</a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
