<div class="row">
  <div class="col-sm-8">
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr data-toggle="collapse" data-target="#demo">
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
    <ul class="pager">
      <li class="previous"><a href="#">Previous</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <div id="demo" class="panel panel-default panel-info">
      <div class="panel-heading">Ingredient X</div>
      <div class="panel-body">
        Some description
      </div>
    </div>
  </div>
</div>