<div class="row">
  <div class ="col text-right mb-4">
    <button type="button" class="mb-8 btn btn-secondary mb-8" (click)="newIngredient()">New ingredient</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <app-ingredient-list #ingredientsSearch
      (selected)="selectIngredient($event)"
      (delete)="deleteIngredient($event)">
    </app-ingredient-list>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12" *ngIf="selectedIngredient">
        <div id="ingredient-details" class="card card-default">
          <div class="card-header" style="min-height: 45px">{{ selectedIngredient.name }}</div>
          <div class="card-body">
            <form [formGroup]="form" class="form-horizontal" action="/ingredients">
                <div class="form-group text-right" *ngFor="let col of columns">
                  <div class="row">
                    <div class="col-sm-5 text-right">{{ col.header }}:</div >
                    <div class="col-sm-7">
                      <input [formControl]="form.get(col.field)" type="text" class="form-control" id="inpt_{{ col.field }}" placeholder="">
                    </div>
                  </div>
                </div>
                <input type="hidden" [formControl]="form.get('id')">
                <div class="form-group pull-right">
                  <div class="col-sm-12 text-right btn-group">
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
                    <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
